<div class="row">
<% @posts.each do |post| %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <%=  if (post.images[0].present? && post.images[0].image.present?) 
							image_tag(post.images[0].image_url(:mini))
						else
							image_tag("/uploads/image/image/29/mini_cute.jpeg")
						end
							
							%>
                            <div class="caption">
                                <h4 class="pull-right">$24.99</h4>
                                <h4><a href="#"><%= link_to post.try(:highlight).try(:title) ? post.highlight.title[0].html_safe : post.title,
          controller: "posts",
          action: "show",
          id: post.id%></a>
                                </h4>
                                <p><%= post.text %></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right"><%= post.comments.count %> comments</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
<% end %>
